#container {
    width: 50%;
    height: 25%;
    margin: auto;
    position:relative;
    background-color:lightblue;
    border-radius: 11px;
    transform: translateY(25vh);
    opacity: 0.8;
    align-items: center;
    border: 1px solid white;
    padding: 2rem;
}

#quote {
    
    font-family: 'Lora', serif;
    color: white;
    font-size: 20px;
    width: 50%;
    align-items: center;
    margin:auto;
}

#author {
    
    font-family: 'Grape Nuts', cursive;
    color: rgb(255, 255, 255);
    width: auto;
    margin: auto;
    font-size: 20px;
    justify-content: center;

}


body {
    background-image: url("clouds.jpg");
    background-size:cover;
    background-color: #ffccff;
    background-repeat:repeat-y; 

.center {
    align-items: center;
}

#quoteButton {
    margin:auto;
    position: absolute; 
    bottom: 100px;
    right: 10%;
}